.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 200px;
}

.nav-menu{
  display: flex;
  align-items: center;
  list-style: none;
  gap: 60px;
  font-size: 20px;
}

.navbar img{
  width: 5em;
}

.nav-connect{
  padding: 20px 40px;
  border-radius: 50px;
  background: linear-gradient(250deg, #03a9fc 0.50%, #3021ff 170%);
  font-size: 22px;
  cursor: pointer;
  transition: 0.5s;
}

.nav-connect:hover{
  transform: scale(1.05);
}

.active {
  text-decoration: underline;
}

.anchor-link{
  text-decoration: none;
  color: white;
}

.nav-connect a{
  text-decoration: none;
  color: white;
}

.profile-action a{
  text-decoration: none;
  color: white;
}