.about-title{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  padding-bottom: 50px;
  padding-top: 300px;
}

.about-top{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}

.about-top-body li{
  width: 100%;
  text-align: left;
  font-size: 25px;
  font-weight:300;
  line-height: 30px;
}

.about-top li span{
  background:linear-gradient(90deg, #4285F4, #34A853,#FBBC05,	#EA4335);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight:600;
}

.about-bottom {
  width: 100%;
  display: flex;
  justify-content: space-around;  
}

.about-bottom img{
  width: 5.5%;
  height: 5.5%;
  padding: 3em 3em;
}